version: '3.1'

services:
  web:
      build: .
      ports:
        - "5000:5000"
      depends_on:
        - db
      environment:
        - FLASK_APP=app.py
        - FLASK_RUN_HOST=0.0.0.0
  db:
    image: minyichen666/cinefusion-central-mysql
    container_name: cinefusion-central-mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: movie_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - ./rsc/mysql:/var/lib/mysql-files
    ports:
      - "3306:3306"
